CompileFlags:
  Add:
    - -DSTM32F401xE
    - -D__FPU_PRESENT=1
    - -D__FPU_USED=1
    - --target=arm-none-eabi
    - -mcpu=cortex-m4
    - -mthumb
    - -mfpu=fpv4-sp-d16
    - -mfloat-abi=hard
    - -std=c++14
    - -fno-exceptions
    - -fno-rtti
    - -Wall
    - -Iserver
    - -Iserver/layers
    - -Iserver/layers/L1_transport
    - -Iserver/layers/L2_protocol
    - -Iserver/layers/L3_services
    - -Iserver/layers/L4_drivers
    - -Iserver/layers/L5_board
    - -Iserver/foundation
    - -Iserver/foundation/F_platform
    - -Iserver/external/X_vendor/CMSIS
    - -Iserver/external/X_middlewares/Third_Party/FreeRTOS-Kernel/include
    - -Iserver/external/X_middlewares/Third_Party/FreeRTOS-Kernel/portable/GCC/ARM_CM4F
    - -Iserver/external/X_middlewares/SEGGER/RTT
    - -Iserver/external/X_middlewares/SEGGER/SystemView
  Remove:
    - -Wa,*
    - -mno-*
    - -specs=*
  Compiler: arm-none-eabi-g++

Diagnostics:
  ClangTidy:
    Add:
      - readability-*
      - performance-*
      - modernize-*
      - bugprone-*
    Remove:
      - modernize-use-trailing-return-type
      - readability-magic-numbers
      - readability-identifier-length
  UnusedIncludes: Strict
  MissingIncludes: Strict

Index:
  Background: Build

InlayHints:
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes

Hover:
  ShowAKA: Yes